@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background-image: url("/images/1698004.jpg");
  color: #fff;
  scroll-behavior: smooth !important;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
