.main-wrapper {
  margin-top: 2rem;
  // height: 100vh;
  h2 {
    text-align: center;
    margin: 2rem 0;
  }
}

.dish-header {
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.dish-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.dish-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.dish-body {
  margin: 0;
  padding: 1.5rem 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(25rem, 20rem));
}
.price-container {
  display: flex;
  justify-content: space-between;
}

.dish-item {
  height: 25rem;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  .dish-img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }

  .add {
    padding: 0.2rem 0.5rem;
    background-color: #ea811d;
    border: 1px solid #000;
    color: #fff;
  }
  .add:hover {
    color: #ea811d;
    border: 1px solid #ea811d;
    background-color: #000;
  }
}

// *!Tabs section ///////

.tabs-container {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  &.active {
    animation-name: blur-img;
    animation-duration: 4s;
  }

  .tab {
    cursor: pointer;
    background: #ea811d;
    padding: 1rem 2.5rem;
    margin: 0.2rem 0.4rem;
  }
  .tab:hover {
    cursor: pointer;
    background-color: #0000;
    color: #ea811d;
    border: 2px solid #ea811d;
  }
  .active {
    background-color: #0000;
    color: #ea811d;
    border: 2px solid #ea811d;
  }
}

// *!increment decrement styles ///////

.dish-price {
  display: flex;
  justify-content: space-between;
}

.qty-txt {
  outline: none;
  // border: none;
  max-width: 2vw;
}

.content {
  display: none;
}

button:hover {
  cursor: pointer;
}

// *! MODAL//////////////////////////////////////

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#modal-background,
#feed-modal-background {
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#modal,
#feed-modal {
  z-index: 30;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: scroll;
  transform: translate(-50%, -50%);
  width: 40rem;
  height: 80vh;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  animation-name: animatemodal;
  animation-duration: 0.4s;
}

#feed-modal {
  height: 30vh;
  width: 30rem;
  overflow: hidden;

  h3 {
    margin: 0;
  }

  form {
    height: 45vh;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    input,
    textarea {
      border: none;
      box-shadow: inset 0 0 2px;
      padding: 0.5rem;
    }
    .feed-form-send {
      width: 5rem;
      padding: 0.2rem 0.4rem;
      margin-top: 0.5rem;
      background-color: #ea811d;
      color: #fff;
      border: 1px solid #ea811d;
    }
    .feed-form-send:hover {
      background-color: #000;
      color: #ea811d;
    }
  }

  #feed-close-btn {
    color: #000;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 2rem;
  }
  #feed-close-btn:hover {
    color: red;
  }
}

.modal-total-text {
  padding-bottom: 2rem;
  // position: absolute;
  // bottom: 2%;
  // right: 10%;
  // display: block;
}

#rzp-button1 {
  padding: 0.4rem 0.7rem;
  background-color: #ea811d;
  color: #fff;
  border: 1px solid #ea811d;
  margin-left: 1rem;
}

#rzp-button1:hover {
  padding: 0.4rem 0.7rem;
  background-color: #000;
  color: #ea811d;
}

.modal-all-items {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.modal-each-item {
  color: #0000 !important;
  width: 30rem;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.item-name {
  color: #0000;
  width: 7rem;
  text-align: left;
}

.num {
  border: 1px solid #ea811d;
  width: 3rem;
}

.empty-cart {
  position: absolute;
  top: 30%;
}
.item-price {
  display: none;
}

.modal-remove {
  color: #fff;
  background-color: #ea811d;
  padding: 0.1rem 0.2rem;
  border: none;
  border: 1px solid #ea811d;
}

.modal-remove:hover {
  color: #ea811d;
  background-color: #000;
}

#close-btn {
  align-self: flex-end;
  font-size: 2.3rem;
}

#close-btn:hover {
  cursor: pointer;
  color: #ea811d;
}

/* modal part end */

/* animation part */
@keyframes animatemodal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
/* animation part end */

@media (max-width: 768px) {
  .tabs-container .tab {
    padding: 0.5rem 1.5rem;
    margin: 0.1rem 0.2rem;
  }

  #modal {
    width: 80vw;
  }

  .modal-each-item {
    width: 75vw;
    justify-content: space-between;
  }
  .item-price {
    margin-left: -3rem;
  }
}

@media (max-width: 520px) {
  #modal {
    font-size: 1rem;
  }

  #feed-modal {
    width: 20rem;
    padding: 0;
    form {
      width: 17rem;
    }
  }

  .num {
    width: 1.5rem;
  }
}

@media (max-width: 400px) {
  .dish-body {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    // grid-template-rows: repeat(auto-fit, minmax(25rem, 20rem));
  }
  .item-price {
    display: none;
  }

  .num {
    width: 2.5rem;
  }
  .total-price {
    // margin-left: -2rem;
  }
}

@media (max-width: 350px) {
  .item-name {
    width: 5rem;
  }
  #feed-modal {
    width: 90vw;
    form {
      width: 85vw;
    }
  }
}

.item-name,
.item-price,
.total-price,
.modal-total-text,
#close-btn,
.empty-cart,
.grand-total {
  color: #000;
}
